import You{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'You{{properCase name}}',
  component: You{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { You{{properCase name}} },
  template: `
    <div>
      <you-{{name}}></you-{{name}}>
    </div>
  `
})
